Image {
	height: 200;
}

TextField {
	margin: 10;
}

Button {
	background-color: green;
	margin: 10;
	color: white;
}

.settingsDockLabel {
	margin-left: 10;
	width: 100%;
}

.settingsDockSwitch {
	margin-right: 10;
	horizontal-align: right;
}