Image {
	height: 200;
}

TextField {
	margin: 10;
}

Button {
	background-color: green;
	margin: 10;
	color: white;
}

.settingsLeft {
	margin-left: 10;
	width: 100%;
	horizontal-align: left;
}

.settingsRight {
	margin-right: 10;
	width: 100%;
	horizontal-align: right;
}