Image {
	height: 200;
	margin: 25;
}

TextField {
	margin: 10;
}

Button {
	background-color: #5BE600;
	margin: 10;
	color: black;
}


.settingsLeft {
	margin: 10;
	width: 100%;
	horizontal-align: left;
	vertical-align: center;
}

.settingsRight {
	margin-right: 10;
	margin-bottom: 10;
	horizontal-align: right;
}