image {
	margin: 5;
}

.dockHead {
	background-color: 4CC000;
	padding-left: 15;
 	padding-right: 15;

 	height: 25;
 	font-family: arial;
}

.addNewMeme {
	horizontal-align: right;
}

.mainContainer {
	padding-top: 10px;
}